---
layout: page
title: "About"
description: "Hey, this is Junjie Hua."
header-img: "img/post-bg-rwd.jpg"
---

<div class="en post-container">
    <h1 id="aboutme">About me</h1>

    <h2 id="personalstatement">Personal Statement</h2>
    
    <p>My name is <b>Junjie Hua (华俊杰)</b>. I am currently a <b>Postdoctoral Fellow</b> in Experience Design at <b>Bentley University</b> (Waltham, MA, USA). I earned my Ph.D. in Information Science from <b>Osaka University</b>, specializing in Bioinformatic Engineering.</p>
    
    <p>My research lies at the intersection of <b>human haptics, sensory illusions, and multimodal experience design</b>. I am passionate about understanding how the human brain processes thermal and tactile information to create immersive virtual experiences.</p>
    
    <p><a href="#top">[Top]</a></p>
    
    <hr />
    
    <p>My vision is to enable high-fidelity virtual thermal perception through robotics and artificial intelligence. This technology aims to:</p>
    
    <ol>
        <li><b>Enhance Remote Work:</b> Allow operators to perceive temperature safely while controlling robots in hazardous environments.</li>
        <li><b>Empower Prosthetics:</b> Provide intuitive thermal feedback for artificial limbs, restoring a vital sense of touch for disabled individuals.</li>
        <li><b>Digital Health:</b> Facilitate remote temperature sensing and tactile diagnostics to reduce infection risks.</li>
    </ol>
    
    <h2 id="Researchexperience">Research Focus</h2>

    <p>Currently, I am investigating the <b>multisensory integration of visual and tactile stimuli</b> under an NSF-funded project. My recent work has focused on:</p>
    <ul>
        <li><b>Liquid Perception:</b> How thermal feedback and viscosity integrate to create the sensation of wetness.</li>
        <li><b>Thermal Spatiotemporal Mechanisms:</b> Investigating the "Extrapolation of Thermal Sensation" (ETS) and its neural integration in the spinal cord.</li>
        <li><b>Active Touch:</b> The impact of exploratory procedures and movement constraints on vibrotactile frequency discrimination.</li>
    </ul>

    <h2 id="paperlist">Selected Publications</h2>
    <p><i>Full list of publications and presentations can be found in my <a href="{{ "/experience/" | prepend: site.baseurl }}">Experience</a> page.</i></p>
    
    <table border="1">
        <tr>
            <th>Year</th>
            <th>Title</th>
            <th>Venue / Achievement</th>
        </tr>
        <tr style="background-color: #fff9c4;">
            <td>2026</td>
            <td><b>Thermal and Tactile Integration in Human Liquid Perception Using Viscous Solutions and Visible Light</b></td>
            <td>IEEE Haptics Symposium (<b>Best Paper Finalist</b>) </td>
        </tr>
        <tr style="background-color: #fff9c4;">
            <td>2026</td>
            <td><b>Temporal Integration Underlying Extrapolation of Thermal Sensation</b></td>
            <td>IEEE Haptics Symposium (<b>Best Paper Finalist</b>) </td>
        </tr>
        <tr style="background-color: #fff9c4;">
            <td>2026</td>
            <td><b>Active Vibrotactile Frequency Discrimination Under Exploration Constraints and Spatial Separation</b></td>
            <td>IEEE Haptics Symposium (<b>Best Paper Finalist</b>) </td>
        </tr>
        <tr>
            <td>2024</td>
            <td>Extrapolation of thermal sensation: Warm-cold stimulus pair elicits a sense of warmth outside the stimulus</td>
            <td>IEEE Access </td>
        </tr>
        <tr>
            <td>2019</td>
            <td>Wave Field Synthesis on Water Membrane to Clone Two Dimensional Rubbing Sensation</td>
            <td>World Haptics Conference (Demo) </td>
        </tr>
    </table>
    
    <p><a href="#top">[Top]</a></p>

    <img src="https://edmond123456.github.io/img/yoshida.gif" alt="yoshida" />
</div>









<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    //distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    //id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

